*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}
body{
  overflow-x: hidden;
}
h2{
  margin-left: 18px;
}
#select{
  position:absolute;
  top:5050px;
  margin-left: 20px;
  margin-top:100x;
}
.codigo{
  z-index: 10;
  position: absolute;
  left: 20px;
  background-color: black;
  color: green;
}
.card {
  width: 330px;
  height: 324px;
  margin: 0 auto;
  background-color: #F8FBFE;
  border-radius: 8px;
  z-index: 1;
 }
 #sub{
  margin-left: 18px;
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }
 .card__content{
margin: auto;
 }
 #peido li{
  cursor: pointer;
  font-size: 150%;
 }

 #teste{
  background-color: #d6ccc2;
  height: 800px;
 }
 .button2 {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button2:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.button2:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
textarea{
  width: 510px;
  resize: none;
}
#textareas{
  transform: translateX(0%) translateY(50%);
  border: none;
  position: relative;
  width: 400px;
  height: 400px;
}
