#tela3{
    background-color: #369ad7;
    height: 750px;
}
  .con {
    transform: translateX(450%) translateY(0%);
    border: none;
    position: relative;
    width: 400px;
    height: 400px;
  }
  #subconcss{
    position: absolute;
    left: -700px;
    top: 30px;
  }
  #exemplo1{
    width: 500px;
    height: 250px;
  }
  #fotos{
    position: absolute;
    top: -150px;
    
  }
