#tela3{
    background-color: #369ad7;
    height: 700px;
}
  .con {
    transform: translateX(450%) translateY(0%);
    border: none;
    position: relative;
    width: 400px;
    height: 400px;
  }
  #subconcss{
    position: absolute;
    left: -380px;
    top: 30px;
  }
  #fotos{
    position: absolute;
    top: -150px;
  }