.txt1{
    width: 400px;
    height: 400px;
  }
  #tela-2{
    background-color:#e54d27;
    height: 1100px;
   }
   .htmlfotos{
    border: none;
    position: absolute;
    left: -650px;
    width: 331px;
    height: 331px;
    background-size: cover;
    background-position: center;
    min-width: 200px;
    min-height: 200px;
  }
  #exemplo{
    width: 500px;
    height: 250px;
  }
  #gamer{
    top: -350px;
  }
  #subcon{
    position: absolute;
    left: -750px;
    top: 150px;
  }
  .card-shadow1{
    width: 530px;
    height: 324px;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-left: 200px;
   }
   .con {
    transform: translateX(0%) translateY(50%);
    border: none;
    position: relative;
    width: 400px;
    height: 400px;
  }
  .subs{
    margin-left: 20px;
  }
