#tela-1{
  position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #d5bdaf;
  }
  #titulo-inicial{
    margin-top: auto;
    margin-left: -200px;
  }
  .card-shadow{
    position: absolute;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-left: 1300px;
    top: 300px;
    overflow: auto; /* ou overflow: scroll; */
   }
@media(min-width:850px){
  .card-shadow{
    font-size: 100%;
  }
}
