#tela-4{
    background-color: #f9dd3e;
    height: 950px;

}
#cssfoto{
    width: 20%;
    margin-left:70%;
    margin-top: -20%; 
}
.card-shadow4{
    width: 530px;
    height: 274px;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-left: 200px;
}
#sub{
    position: absolute;
    left: -550px;
    top: 200px;

}
#js{
    top: -330px;
}
#jsex{
    width: 500px;
    height: 250px;
}